name: ci

on:
  push:

  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  fmt:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install devenv
        run: nix profile install --accept-flake-config nixpkgs#devenv
      - name: Activate shell
        run: devenv shell -- echo "Shell activated"
      - name: Format check
        run: devenv shell -- fmt-check

  test:
    strategy:
      matrix:
        os:
          - macos-14
    runs-on: ${{matrix.os}}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install devenv
        run: nix profile install --accept-flake-config nixpkgs#devenv
      - name: Activate shell
        run: devenv shell -- echo "Shell activated"
      - name: Build
        run: devenv shell -- build
      - name: Test
        run: devenv shell -- test

  # deploy:
  #   permissions:
  #     pages: write
  #     id-token: write
  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/main'
  #   steps:
  #     - name: Deploy to GitHub Pages
  #       id: deployment
  #       uses: actions/deploy-pages@v1
